/*---Hero Section---*/
/*Section Background*/
.main-hero-section {
    background-color: #2D3142;
    color: white;
}

/*Hero CTA Buttons*/
.main-cta {
    background-color: #EF8354;
    border: 0px;
    border-radius: 2px;
}
.main-cta:hover {
    background-color: #4F5D75;
}

.secondary-cta {
    background-color: none;
    border: 0px;
    color: white;
    text-decoration: underline;
}
.secondary-cta:hover {
    background-color: rgba(0,0,0,0);
    color: #EF8354;
}

/*---Project Section---*/
.section-heading {
    margin-right: 1%;
}
.project-heading {
    text-align: right;
    text-transform: uppercase;
    color: rgba(45, 49, 66, 0.214);
}
.project-image {
    width: 25rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
}
.project-row--flex {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    padding: 1rem;
}
.project-section {
    background-color: #fafafa;
    padding-bottom: 1rem;
}
